<div class="row">
  <img src="https://media.giphy.com/media/l41lI4bYmcsPJX9Go/giphy.gif" style="height:auto; width: 100%;">
  <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/home">Back to home page</button>

</div>
