<ul class="list-inline">
  <li *ngFor="let qStatus of numArray; let i = index" class="list-inline-item zi-li">
    <fa name="circle" [ngClass]="{'ansered': isSmallerOrEquel(i +1, questionNumber), 'not-answered': !isSmallerOrEquel(i + 1, questionNumber)}"></fa>
  </li>
</ul>