<div style="height: 100%">
  <div *ngIf="question">
    <div class="row" style="height: 100%">
      <div class="d-flex flex-row justify-content-center align-items-center" style="margin-bottom: 30px; width: 100%; font-size: 2vw;">
        <div class="p-12">
          <span style="color:#0D7BAB; font-family: 'OpenSans-Bold'">Q:{{questionNumber}}:</span>{{question.question}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <app-answer  [answer]="question.incorrect_answers[0]" [image]="images[0]" [isSelected]="selected[0]" (click)="select(0, question.incorrect_answers[0])"></app-answer>
      </div>
      <div class="col-2"></div>
      <div class="col-5">
        <app-answer [answer]="question.incorrect_answers[1]" [image]="images[1]" [isSelected]="selected[1]" (click)="select(1 ,question.incorrect_answers[1])"></app-answer>
      </div>
    </div>
    <div class="row" style="min-height: 10px"></div>
    <div class="row">
      <div class="col-5">
        <app-answer [answer]="question.incorrect_answers[2]" [image]="images[2]" [isSelected]="selected[2]" (click)="select(2 ,question.incorrect_answers[2])"></app-answer>
      </div>
      <div class="col-2"></div>
      <div class="col-5">
        <app-answer [answer]="question.incorrect_answers[3]" [image]="images[3]" [isSelected]="selected[3]" (click)="select(3 ,question.incorrect_answers[3])"></app-answer>
      </div>
    </div>
    <div *ngIf="selectedAnswer" class="row" style="margin-top: 10px;">
      <div class="col-12 text-center">
        <button class="btn btn-default btn-lg zi-ok" [appSetBackgroundColorOnHover]="btncolor" (click)="submit()">{{continueButtonText}}</button>
      </div>
    </div>
  </div>



  <div *ngIf="!question" class="d-flex flex-row justify-content-center align-items-center">
    <div class="p-2">
      <div class="alert alert-warning">
        <strong>Warning!</strong> could not get the requested question
      </div>
    </div>
  </div>
  <div class="zi-progress align-self-end">
    <div *ngIf="questionNumber" class="d-flex flex-row justify-content-center align-items-center">
      <div class="p-2">
        <app-progress [questionNumber]="questionNumber"></app-progress>
      </div>
    </div>
  </div>
</div>