<div class="container-fluid">
  <app-header></app-header>
  <div [@routeAnimations]="prepareRoute(outlet)">
    <div class="container zi-body-container">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>