.ans {
    border-radius: 10px;
    background-color: #FAFAFA;
    border: solid #D9E6EB 2px;  /* #D9E6EB */
    min-width: 100%;
    font-size: 1.5vw;
    color: #496472 100%;
}

.isSelected {
    border: solid #0D7BAB 4px;
}

.isSuccess {
    border: solid #33C933 4px;
    color: #33C933;
}

.isError {
    border: solid #FB4343 4px;
    color: #FB4343;
}
