
<div *ngIf="answer" class="d-flex flex-row justify-content-center align-items-center ans pointer" [ngClass]="{'isSelected': isSelected, 'isSuccess': image === 'success', 'isError': image === 'error'}">
    <div *ngIf="image && getImage() != ''" class="p-2">
        <img [src]="getImage()" style="max-height: 30px; height: 10%; width: auto;">
    </div>
    <div class="p-2" style="font-family: 'OpenSans-Semibold'">
        {{answer}}
    </div>
</div>